<link href="{{ url_for('static',filename='bootstrap.css') }}" rel="stylesheet">

<div class="container">
    <h1 class="text-center">MattDiario</h1>
    <a href="/db_grezzo">
        <button type="button" class="mt-2 btn btn-primary btn-lg btn-block">Database grezzo</button>
    </a>
    <a href="/pagina/ultima">
        <button type="button" class="mt-2 btn btn-secondary btn-lg btn-block">Ultima pagina</button>
    </a>

    <h2 class="text-center mt-4">Categorie</h2>
    <ul class="list-group">
        {% for category, count in categories %}
            <a class="text-primary" href="pagina/category={{category}}">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ category }}
                    <span class="badge badge-primary badge-pill">{{ count }}</span>
                </li>
            </a>
        {% endfor %}
    </ul>

    <h2 class="text-center mt-4">Per mese</h2>
    <ul class="list-group">
        {% for ym, count in year_month %}
            <a class="text-primary" href="pagina/year_month={{ym}}">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ ym }}
                    <span class="badge badge-primary badge-pill">{{ count }}</span>
                </li>
            </a>
        {% endfor %}
    </ul>

    <h2 class="text-center mt-4">Elimina pagine</h2>
    <form method="POST" action="/delete_category">
        <div class="form-group">
            <input placeholder="Categoria da eliminare" type="text" name="category" id="category" class="form-control">
        </div>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>
