<link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">

<div class="container">
    <h1 class="text-center">MattDiario</h1>
    
    {% set current_index = diary_pages|length - 1 %}
    <h3>{{ diary_pages[current_index].title }}</h3>
    <p id="category">{{ diary_pages[current_index].category }}</p>
    <p id="date">{{ diary_pages[current_index].date }}</p>
    <p id="content">{{ diary_pages[current_index].content }}</p>

    <input type="hidden" id="current_index" value="{{ current_index }}">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary mr-4" onclick="changeIndex(-1)">Indietro</button>
        <button type="button" class="btn btn-secondary" onclick="changeIndex(1)">Avanti</button>
    </div>
    <a href="/">
        <button type="button" class="btn btn-primary btn-lg btn-block mt-5">Index</button>
    </a>
</div>
<script>
    var diary_pages = {{ diary_pages|tojson|safe }};
</script>
<script src="{{ url_for('static', filename='manage_pages.js') }}"></script>